
# Sentry
SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
NEXT_PUBLIC_SENTRY_DSN=https://examplePublicKey@o0.ingest.sentry.io/0
SENTRY_ORG=the-breakdown
SENTRY_PROJECT=website
SENTRY_AUTH_TOKEN=

# Cloudflare
CLOUDFLARE_API_TOKEN=
